//- begin:: Header Mobile )
div(id="kt_header_mobile" class="kt-header-mobile  kt-header-mobilefixed ")
	div(class="kt-header-mobile__logo")
		a(href="index.html")
			img( alt="Logo" src="assets/media/logos/logo-6.png" )
	div(class="kt-header-mobile__toolbar")
		button(class="kt-header-mobile__toggler kt-header-mobile__togglerleft" id="kt_aside_mobile_toggler")
			span()

//- end:: Header Mobile )