
//- begin::Aside Primary
div(class="kt-aside__primary")

	//- begin::Aside Top
	div(class="kt-aside__top")
		a(class="kt-aside__brand" href="?page=index")
			img( alt="Logo" src="assets/media/logos/logo-9.png")

	//- end:: Aside Top

	//- begin::Aside Middle
	.row(style="margin:auto")
		div(class="kt-aside__middle")
			ul(class="kt-aside__nav")
				li(class="kt-aside__nav-item")
					a(class="kt-aside__nav-link" href="/create_group" data-toggle="kt-tooltip" title="Create group" data-placement="right" data-container="body" data-boundary="window")
						i(class="flaticon2-group")
				li(class="kt-aside__nav-item")
					a(class="kt-aside__nav-link" href="/list_user" data-toggle="kt-tooltip" title="Friends" data-placement="right" data-container="body" data-boundary="window")
						i(class="flaticon-users")
				li(class="kt-aside__nav-item")
					a(class="kt-aside__nav-link" href="/list_chat" data-toggle="kt-tooltip" data-title="Chats" data-placement="right" data-container="body" data-boundary="window")
						i(class="flaticon-chat-2")
				li(class="kt-aside__nav-item")
					a(class="kt-aside__nav-link" href="/profile" data-toggle="kt-tooltip" data-title="Users" data-placement="right" data-container="body" data-boundary="window")
						i(class="flaticon2-user")
	//- end::Aside Middle

	//- begin::Aside Bottom
	div(class="kt-aside__bottom")
		ul(class="kt-aside__nav")
			li(class="kt-aside__nav-item")
					a(class="kt-aside__nav-link" href="/logout" data-toggle="kt-tooltip" title="Logout" data-placement="right" data-container="body" data-boundary="window")
						i(class="flaticon-logout")
			li(class="kt-aside__nav-item")
				a(class="kt-aside__nav-link" href="/profile_update" data-toggle="kt-tooltip" data-title="Settings" data-placement="right" data-container="body" data-boundary="window")
					i(class="flaticon-settings")
