
//- begin:: Aside
button(class="kt-aside-close kt-hidden " id="kt_aside_close_btn")
	i(class="la la-close")
div(class="kt-aside  kt-grid__item kt-grid kt-grid--ver" id="kt_aside" style="width: 400px;")
	include _primary
	include _secondary

//- end:: Aside