doctype html
html
    head
        base(href="")
        meta(charset="utf-8")
        title= title
        meta(name="description" content="Chat App")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700")
        link(href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css")
        link(href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css")
        link(href="assets/css/style.bundle.css" rel="stylesheet" type="text/css")
        link(rel="shortcut icon" href="assets/media/logos/favicon.ico")
    body
        div(class='col-5' style='margin:auto')
            form(action='/login' method='post')
                div(class='form-group')
                    label Email Address:
                    input(type="email" name="email" class='form-control' id="exampleInputEmail1" aria-describedby='emailHelp' placeholder='Enter your email')
                div(class='form-group')
                    label Password:
                    input(type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password")
                div
                    input(type="submit" value="Log In" class='btn btn-primary form-control')
            br
            center
                b
                    | Don't have an account yet 
                    a(href="/signup") Sign Up