
<!-- begin::Offcanvas Toolbar Search -->
<div id="kt_offcanvas_toolbar_search" class="kt-offcanvas-panel">
	<div class="kt-offcanvas-panel__head">
		<h3 class="kt-offcanvas-panel__title">
			Search
		</h3>
		<a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_search_close"><i class="flaticon2-delete"></i></a>
	</div>
	<div class="kt-offcanvas-panel__body">

		<!-- begin:: Quick Search -->
		<div class="kt-quick-search kt-quick-search--offcanvas" id="kt_quick_search_offcanvas">
			<form method="get" action="#" class="kt-quick-search__form">
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-search-1"></i></span></div>
					<input type="text" class="form-control kt-quick-search__input" placeholder="Type here..." name="query">
					<div class="input-group-append"><span class="input-group-text"><i class="la la-close kt-quick-search__close"></i></span></div>
				</div>
			</form>
			<div class="kt-quick-search__wrapper">
				<div class="kt-quick-search__result">
					<div class="kt-quick-search__category">
						Reports
					</div>
					<div class="kt-quick-search__section">
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-img kt-quick-search__item-img--file">
								<img src="assets/media/files/doc.svg" alt="" />
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									AirPlus Requirements
								</a>
								<div class="kt-quick-search__item-desc">
									by Grog John
								</div>
							</div>
						</div>
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-img kt-quick-search__item-img--file">
								<img src="assets/media/files/pdf.svg" alt="" />
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									TechNav Documentation
								</a>
								<div class="kt-quick-search__item-desc">
									by Mary Broun
								</div>
							</div>
						</div>
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-img kt-quick-search__item-img--file">
								<img src="assets/media/files/zip.svg" alt="" />
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									All Framework Docs
								</a>
								<div class="kt-quick-search__item-desc">
									by Grog John
								</div>
							</div>
						</div>
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-img kt-quick-search__item-img--file">
								<img src="assets/media/files/xml.svg" alt="" />
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									AirPlus Requirements
								</a>
								<div class="kt-quick-search__item-desc">
									by Grog John
								</div>
							</div>
						</div>
					</div>
					<div class="kt-quick-search__category">
						Customers
					</div>
					<div class="kt-quick-search__section">
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-img">
								<img src="assets/media/users/300_11.jpg" alt="" />
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									Jimmy Curry
								</a>
								<div class="kt-quick-search__item-desc">
									Software Developer
								</div>
							</div>
						</div>
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-img">
								<img src="assets/media/users/300_16.jpg" alt="" />
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									Milena Gibson
								</a>
								<div class="kt-quick-search__item-desc">
									UI Designer
								</div>
							</div>
						</div>
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-img">
								<img src="assets/media/users/300_22.jpg" alt="" />
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									Stefan JohnStefan
								</a>
								<div class="kt-quick-search__item-desc">
									Marketing Manager
								</div>
							</div>
						</div>
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-img">
								<img src="assets/media/users/300_5.jpg" alt="" />
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									Anna Strong
								</a>
								<div class="kt-quick-search__item-desc">
									Software Developer
								</div>
							</div>
						</div>
					</div>
					<div class="kt-quick-search__category">
						Files
					</div>
					<div class="kt-quick-search__section">
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-icon">
								<i class="flaticon2-box kt-font-danger"></i>
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									2 New items submitted
								</a>
								<div class="kt-quick-search__item-desc">
									Marketing Manager
								</div>
							</div>
						</div>
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-icon">
								<i class="flaticon-psd kt-font-brand"></i>
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									79 PSD files generated
								</a>
								<div class="kt-quick-search__item-desc">
									by Grog John
								</div>
							</div>
						</div>
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-icon">
								<i class="flaticon2-supermarket kt-font-warning"></i>
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									$2900 worth products sold
								</a>
								<div class="kt-quick-search__item-desc">
									Total 234 items
								</div>
							</div>
						</div>
						<div class="kt-quick-search__item">
							<div class="kt-quick-search__item-icon">
								<i class="flaticon-safe-shield-protection kt-font-info"></i>
							</div>
							<div class="kt-quick-search__item-wrapper">
								<a href="#" class="kt-quick-search__item-title">
									4 New items submitted
								</a>
								<div class="kt-quick-search__item-desc">
									Marketing Manager
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- end:: Quick Search -->
	</div>
</div>

<!-- end::Offcanvas Toolbar Search -->