//- .kt-portlet(id="kt_page_portlet")
//- 	.kt-portlet__head.kt-portlet__head--lg
//- 		.kt-portlet__head-label
//- 			h3.kt-portlet__head-title
//- 				=title
//- 		.kt-portlet__head-toolbar
//- 			a(href="/logout" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="kt-tooltip" title="Logout" data-placement="top")
//- 				i(class="flaticon-logout")

.kt-subheader.kt-grid__item(id="kt_subheader" style="left: 400px;")
	.kt-container.kt-container--fluid
		.kt-subheader__main
			h3.kt-subheader__title
				=title
		.kt-subheader__toolbar
			.kt-subheader__wrapper
				//- a(href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="kt-tooltip" title="Reports" data-placement="top")
				//- 	i.flaticon2-writing
				